/* BookCard.css */

/* Bloque Principal */
.book-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
}
/* Quita el subrayado a todos los enlaces y links de la app */
a, .link {
    text-decoration: none !important;
    color: inherit; /* Mantiene el color del texto original en lugar de ponerse azul */
}

/* Opcional: Si quieres que cambie algo al pasar el ratón, pero sin subrayado */
a:hover {
    text-decoration: none;
    opacity: 0.8;
}

.book-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

/* Elementos */
.book-card__image {
    width: 100%;
    height: 250px; /* Altura fija para que todas las tarjetas sean iguales */
    object-fit: cover; /* Evita que la imagen se deforme */
    border-bottom: 1px solid #f0f0f0;
}

.book-card__content {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1; /* Empuja el botón hacia abajo si hay poco texto */
}

.book-card__title {
    margin: 0;
    font-size: 1.1rem;
    color: #333;
    font-weight: 700;
}

.book-card__author {
    margin: 0;
    font-size: 0.9rem;
    color: #666;
    font-style: italic;
}

.book-card__price {
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: #d4a373; /* Un tono elegante para el precio */
    font-weight: bold;
}

.book-card__button {
    background-color: #1a1a1a;
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s;
}

.book-card__button:hover {
    background-color: #444;
}