.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px; /* Asegúrate de que este alto sea constante */
    background-color: #D2B48C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    /* Z-INDEX ALTO: Esto evita que la cesta lo tape */
    z-index: 2000;
}

.header__logo {
    margin: 0;
    font-size: 1.8rem;
    font-family: 'Playfair Display', serif; /* O la que prefieras */
}

.header__cart {
    cursor: pointer;
    z-index: 2001; /* Un poco más alto para asegurar el clic */
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px 15px;
    margin-right: 50px;
    border-radius: 20px;
    transition: background 0.3s;
}

.header__cart:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.header__cart-count {
    background-color: #5D4037; /* Marrón oscuro para resaltar */
    color: white;
    font-size: 0.8rem;
    padding: 2px 8px;
    border-radius: 50%;
    font-weight: bold;
}