/* App.css o el archivo de estilos de tu componente principal */
body, html {
    overflow-x: hidden; /* Evita el scroll lateral en toda la web */
}

.app-container {
    overflow-x: hidden; /* Refuerzo para el contenedor de React */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}