:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
}

body {
    margin: 0;
    /* Eliminamos el flex y el place-items para que no centren nuestra web */
    min-width: 100vw;
    min-height: 100vh;
}

#root {
    width: 100%;
}